/* Responsive CSS cho các kích thước khác nhau */
/* item 1 */
@media (max-width: 1200px) {
  .slider-item1-shape {
    height: 400px;
  }
}

@media screen and (max-width : 767px) {
  .navbar-collapse {
    max-height: 300px;
    overflow-y: scroll;
    border-top: 1px solid #2d2e34;
    margin-top: 15px;
  }

  #header .nav-link {
    font-size: 28px;
    border-bottom: 1px solid #2d2e34;
  }

  .navbar-light .navbar-toggler {
    box-shadow: none !important;
    background: #fff;
    border: none;
    border-radius: 0;
  }

  .drop_1 {
    margin-top: 0 !important;
  }

  .sticky .drop_1 {
    margin-top: 0 !important;
  }

  .drop_1 a {
    font-size: 24px;
  }


  #header .navbar-brand {
    display: block;
  }

  .sticky .navbar-brand {
    margin-right: 0 !important;
  }
}


@media (min-width:576px) and (max-width:767px) {}

@media (min-width:768px) and (max-width:991px) {
  .navbar-expand-md {
    flex-wrap: wrap !important;
  }

  .sticky .navbar-brand {
    margin-right: 20px !important;
  }

  .sticky .nav-link {
    padding: 10px 10px !important;
  }
}

@media (min-width:871px) and (max-width:991px) {
  .sticky .navbar-brand {
    margin-right: 40px !important;
  }

}

@media (min-width:992px) and (max-width:1200px) {
  .navbar-expand-md {
    flex-wrap: wrap !important;
  }

  .sticky .navbar-brand {
    margin-right: 60px !important;
  }
}

@media (min-width:1201px) and (max-width:1255px) {}

/* @media (max-width: 768px) {
    .slider-item1-shape {
      height: 300px;
    }
    .slider-item3 {
        top: 54px;
        left: -86px;
        width: 265px;
        height: 30px;
    }
    .slider-item4 {
    }
    .slider-item5 {
    }
    .slider-item6 {
      max-width: 400px;
    }
    .slider-item7 {
      max-width: 400px;
    }
    .slider-item8 {
      width: 50px;
      height: 50px;
      max-width: 250px;
    }
    .slider-item9 {
        width: 150px;
    }
    .slider-item10 {
    }
    .slider-item11 {
        width: 2000px;
        height: 400px;
    }
    .slider-item12 {
        font-size: 50px;
        letter-spacing: 20px;
    }
    .slider-item13 {
    }
    .slider-item14 {
    }
    .slider-item15 {
    }
    .slider-item16 {
    }
    .slider-item17 {
    }
    .slider-item18 {
      font-size: 50px;
      letter-spacing: 20px;
      width: 400px;
      height: 500px;
    }
  }
  @media (max-width: 350px) {
    .navbar-nav .navbar-nav {
        flex-direction: column;
        text-align: center; 
        display: none;
    } 
    #navbar-menu{
        position: fixed;
        width: 100%;
        display: block;
        transition: top 0.3s;
    }
    #navbar-toggle {
        display: block;
    }
    .slider-item1-shape {
        height: 300px;
    }
    .slider-item3 {
        top: 54px;
        left: -86px;
        width: 265px;
        height: 30px;
    }
    .slider-item4 {
    }
    .slider-item5 {
    }
    .slider-item6 {
    }
    .slider-item7 {
    }
    .slider-item8 {
    }
    .slider-item9 {
    }
    .slider-item10 {
    }
    .slider-item11 {
        width: 1500px;
        height: 300px;
    }
    .slider-item12 {
        
    }
    .slider-item13 {
    }
    .slider-item14 {
    }
    .slider-item15 {
    }
    .slider-item16 {
    }
    .slider-item17 {
    }
    .slider-item18 {
    }
} */