* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}

/*********** header ************/
.navbar {
    width: 100%;
    position: absolute;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    /* background-color: #191a1d; */
    z-index: 99;
}

#header .navbar-brand {
    font-size: 1.75rem;
    padding: 0;
    margin: 0;
    display: none;
}
.navbar-collapse {
    max-height: 300px;
    /* overflow-y: scroll; */
    /* border-top: 1px solid #2d2e34; */
    margin-top: 15px;
    justify-content: center;
}
#header .nav-link {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    transition: color 0.3s ease;
}
#header .nav-link:before,
#header .nav-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #A594F9, #7371FC);
    transition: all 0.3s ease;
}
#header .nav-link:before {
    left: 0;
}
#header .nav-link:after {
    right: 0;
}
#header .nav-item:hover .nav-link:before,
#header .nav-item:hover .nav-link:after {
    width: 100%;
}

/* Hiệu ứng hover: Thay đổi màu chữ khi hover */
#header .nav-item:hover .nav-link {
    color: #c8d3f7;
}
/* Thêm shadow cho hiệu ứng hover */
#header .nav-item:hover .nav-link {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    /* Tạo hiệu ứng đổ bóng khi hover */
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #191a1d;
}

.sticky {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}

.sticky .navbar-brand {
    display: block !important;
    margin-right: 250px !important;
}
/* icon */
.top_1r ul li a {
    background: #28292e;
    height: 35px;
    width: 35px;
}

.top_1r ul li a i {
    line-height: 35px;
    font-size: 16px;
}

ul.social-network {
    list-style: none;
    display: block;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline-block;
}

/***************** footer social icons *****************/
.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #ec1515;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoGithub:hover {
    background-color: #4d4d4d;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoGithub:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
}

.social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

/***************** end icon *****************/
/*********************header_end****************/


.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider-container .slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* item 1 */
.slider-item1-shape {
    position: absolute;
    top: 20%;
    left: -5%;
    width: 2500px;
    height: 300px;
    /* background-color: rgb(33, 33, 33);  */
    opacity: 0;
    animation: slideItem1 .8s ease-out;
    z-index: 0;
    transition: none;
    text-align: inherit;
    opacity: 1;
}

/* Animation phóng to và quay */
@keyframes slideItem1 {
    0% {
        background-color: rgb(33, 33, 33);
        transform: rotateZ(90deg) scale(2);
        opacity: 0;
    }

    90% {
        background-color: rgb(33, 33, 33);
        transform: rotateZ(-15deg) scale(2);
        opacity: 1;
        background-color: rgba(33, 33, 33, .5);
    }

    100% {
        transform: rotateZ(-15deg) scale(1);
        opacity: 1;
        background-color: rgba(33, 33, 33, .5);
    }
}

/* end item 1 */
/* item 2 */
.slider-item2 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90px;
    height: 90px;
    z-index: 2;
    opacity: 0;
    animation: slideItem2 .5s .8s ease-in-out forwards, slideImgItem2_1 3s 1s alternate-reverse infinite;
    background-color: rgba(155, 245, 114, 0.3);
}

.slide-img-2 {
    animation: slideImgItem2 1.5s ease-in-out forwards;
    transition: 1s;
}

/* Animation */
@keyframes slideItem2 {
    0% {
        opacity: 0;
    }

    100% {
        left: 20%;
        top: 15%;
        transform: translate(-120px, -120px);
        opacity: 1;
    }
}

@keyframes slideImgItem2 {
    0% {
        transform: rotate(360deg);
        opacity: 0;
    }

    100% {
        transform: rotate(15deg);
        opacity: 1;
    }
}

@keyframes slideImgItem2_1 {
    0% {
        /* transform: translate(350px, 350px); */

    }

    100% {
        transform: translate(-170px, -170px);
    }
}

/* end item 2 */
/* item 3 */
.slider-item3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(100px, 100px)  rotate(-30deg);
    width: 100px;
    height: 100px;
    opacity: 0;
    animation: slideItem3 .5s 0.8s ease-in-out forwards;
    z-index: 6;
    transition: 3s;
}

/* Animation hiệu ứng quay và di chuyển */
@keyframes slideItem3 {
    0% {
        opacity: 0;
    }

    100% {
        left: 10%;
        top: 25%;
        opacity: 1;
    }
}

/* end item 3 */
/* item 4 */
.slider-item4 {
    position: absolute;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%) rotate(-180deg); */
    transform: translate(100px, 100px)  rotate(-30deg);
    transition: 3s;
    opacity: 0;
    z-index: 6;
    animation: slideItem4 .5s .8s forwards;
}

/* Image styling */
.image-item-4 {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

/* Keyframes for the animation */
@keyframes slideItem4 {
    0% {
        opacity: 0;
    }
    100% {
        left: 30%;
        top: 60%;
        opacity: 1;
    }
}

/* end item 4 */
/* item 5 */
.slider-item5 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
    opacity: 0;
    z-index: 6;
    animation: slideItem5 .5s .8s forwards;
}

/* Image styling */
.image-item-5 {
    width: 230px;
    height: 130px;
    object-fit: contain;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease;
}

/* Keyframes for the animation */
@keyframes slideItem5 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(-180deg);
    }

    50% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(15deg);
    }

    100% {
        left: 70%;
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

/* end item 5 */
/* item 6,7,8 */
.slider-item6,
.slider-item7,
.slider-item8 {
    position: absolute;
    top: 30%;
    left: 40%;
    opacity: 0;
    z-index: 3;
    transition: 3s;
}

.slider-item6 {
    transform: translate(100px, 100px)  rotate(-30deg);
    animation: slideItem6 .5s .8s ease-in-out forwards;
}

.slider-item6 img {
    width: 100%;
    max-width: 510px;
    height: auto;
}

/* Animation for Image Layers */
@keyframes slideItem6 {
    0% {
        opacity: 0;
        /* transform: translateY(50px) rotate(-180deg); */
    }

    100% {
        opacity: 1;
        top: 60%;
        left: 60%;
        /* transform: translateY(0) rotate(0deg); */
    }
}

/* end item 6 */
/* item 7 */
.slider-item7 {
    transform: translate(-120px, 20px)  rotate(0deg);
    animation: slideItem7 .5s .8s ease-in-out forwards;
}

@keyframes slideItem7 {
    0% {
        opacity: 0;
        /* transform: translateY(50px) rotate(-180deg); */
    }

    100% {
        opacity: 1;
        top: 5%;
        left: 60%;
        /* transform: translateY(0) rotate(0deg); */
    }
}

/* end item 7 */
/* item 8 */
.slider-item8 {
    transform: translate(20px, 20px)  rotate(15deg);
    animation: slideItem8 .5s .8s ease-in-out forwards;
}

@keyframes slideItem8 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 1%;
        left: 80%;
        /* transform: translateY(0) rotate(15deg); */
    }
}

/* end item 8 */
/* item 9 */
.slider-item9 {
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 4;
    opacity: 0;
    transform: translate(20px, 20px)  rotate(15deg);
    transition: 3s;
    animation: slideItem9 .5s .8s ease-in-out forwards;
}

.slider-item9 img {
    width: 100%;
    max-width: 390px;
    height: auto;
}

/* Animation for Image Layers */
@keyframes slideItem9 {
    0% {
        opacity: 0;
        /* transform: translateY(50px) rotate(180deg); */
    }

    100% {
        opacity: 1;
        top: 50%;
        left: 5%;
        /* transform: translateY(0) rotate(0deg); */
    }
}

/* end item 9 */
/* item 10 */
.slider-item10 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 45px;
    height: 45px;
    z-index: 5;
    opacity: 0;
    animation: slideItem10 .5s .8s ease-in-out forwards, slideImgItem10_1 3s 1s alternate-reverse infinite;
    /* background-color: rgba(155, 245, 114, 0.3); */
}

.slide-img-10 {
    width: 45px;
    height: 45px;
    animation: slideImgItem10 .8s 1.5s ease-in-out forwards;
    transition: 1s;
}

/* Animation */
@keyframes slideItem10 {
    0% {
        opacity: 0;
    }

    100% {
        left: 90%;
        top: 15%;
        transform: translate(-120px, -120px);
        opacity: 1;
    }
}

@keyframes slideImgItem10 {
    0% {
        transform: rotate(30deg);
        opacity: 0;
    }

    100% {
        transform: rotate(15deg);
        opacity: 1;
    }
}

@keyframes slideImgItem10_1 {
    0% {
        /* transform: translate(350px, 350px); */

    }

    100% {
        transform: translate(-170px, -170px);
    }
}

/* end item 10 */
/* item  11*/
.slider-item11 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    animation: slideItem11 .8s 1.3s ease-in-out forwards;
    border: 3px solid rgb(138, 238, 163);
    border-radius: 50%;
    opacity: 0;
    z-index: 6;
}

.slider-item11 .slider-item11-rs-looped {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(155, 245, 114, 0.3);
    animation: slideItem11_1 8s infinite linear;
}

/* Animation sóng */
@keyframes slideItem11_1 {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }

    50% {
        transform: scale(1.5);
        opacity: .5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Animation hiệu ứng quay và di chuyển */
@keyframes slideItem11 {
    0% {
        transform: rotate(360deg);
        opacity: 0;
    }

    100% {
        left: 90%;
        top: 80%;
        transform: rotate(35deg);
        opacity: 1;
    }
}

/* end item 11 */
/* item 12 */
.slider-item12 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 50px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 25px;
    opacity: 0;
    z-index: 16;
    animation: slideItem12 .8s 1.3s ease-in-out forwards, slideItem12_2 3s 1s alternate-reverse infinite;
}

.slider-item12-rs-looped {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    animation: slideItem8_1 3s infinite linear;
}

@keyframes slideItem12 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
    }

    100% {
        opacity: 1;
        top: 70%;
        left: 90%;
        transform: translate(-50%, -50%) scale(1) rotate(15deg);
    }
}

/* Wave Effect Animation */
@keyframes slideItem12_1 {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes slideItem12_2 {
    0% {
        /* transform: translate(350px, 350px); */

    }

    100% {
        transform: translate(-170px, -170px);
    }
}

/* end item 12 */
/* item 13 */
/* Vòng tròn di chuyển theo quỹ đạo vòng tròn */
.slider-item13 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 50%;
    opacity: 0;
    z-index: 4;
    animation: slideItem13 .8s 1.5s ease-in-out forwards, slideItem13_1 3s infinite linear, slideItem13_1 5s infinite linear;
}

/* Hiệu ứng xuất hiện */
@keyframes slideItem13 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
    }

    100% {
        opacity: 1;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
}

/* Quay vòng tròn */
@keyframes slideItem13_1 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(20px) rotate(-360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(20px) rotate(0deg);
    }
}

/* end item 13 */
/* item 14 */
.slider-item14 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 50px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 25px;
    opacity: 0;
    z-index: 16;
    animation: slideItem14 .8s 1.5s ease-in-out forwards, slideItem14_2 3s 1s alternate-reverse infinite;
}

.slider-item14-rs-looped {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    animation: slideItem14_1 3s infinite linear;
}

@keyframes slideItem14 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
    }

    100% {
        opacity: 1;
        top: 60%;
        left: 10%;
        transform: translate(-50%, -50%) scale(1) rotate(-15deg);
    }
}

/* Wave Effect Animation */
@keyframes slideItem14_1 {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes slideItem14_2 {
    0% {
        /* transform: translate(350px, 350px); */

    }

    100% {
        transform: translate(-10px, -10px);
    }
}

/* end item 14 */
/* item 15 */
.slider-item15 {
    position: absolute;
    bottom: 50px;
    left: 45%;
    /* transform: translateX(50%);  */
    width: 0px;
    height: 5px;
    background-color: #2367f8;
    opacity: 0;
    animation: slideItem15 .8s 1.5s ease-in-out forwards;
}

/* Bottom Bar Animation */
@keyframes slideItem15 {
    0% {
        opacity: 0;
        width: 0px;
    }

    100% {
        opacity: 1;
        width: 300px;
    }
}

/* end item 15 */
/* item 16 */
.slider-item16 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    opacity: 0;
    animation: slideItem16 .8s 1.5s ease-in-out forwards, slideItem16_2 5s infinite linear;
}

/* Animation for Shape Layers */
@keyframes slideItem16 {
    0% {
        opacity: 0;
        transform: rotate(360deg);
    }

    100% {
        opacity: 1;
        top: 30%;
        left: 10%;
        transform: rotate(45deg);
    }
}

.slider-item16-rs-looped {
    width: 100%;
    height: 100%;
    animation: slideItem16_1 6s infinite linear;
}

@keyframes slideItem16_1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* Quay vòng tròn */
@keyframes slideItem16_2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(20px) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(20px) rotate(-360deg);
    }
}

/* end item 16 */
/* item 17 */
.slider-item17 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    /* Vừa căn giữa vừa xoay */
    width: 120px;
    height: 120px;
    border: 3px solid #fff;
    opacity: 0;
    animation: slideItem17 .8s 1.5s ease-in-out forwards, slideItem17_2 15s infinite linear;
}

/* Animation for Shape Layers */
@keyframes slideItem17 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(360deg);
        /* Ban đầu là không nhìn thấy và xoay */
    }

    100% {
        opacity: 1;
        top: 70%;
        left: 70%;
        transform: translate(-50%, -50%) rotate(45deg);
        /* Cuối cùng là xuất hiện và xoay 45 độ */
    }
}

/* Hiệu ứng co giãn (scale) */
.slider-item17-rs-looped {
    width: 100%;
    height: 100%;
    animation: slideItem17_1 6s infinite linear;
}

@keyframes slideItem17_1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
        /* Lớn hơn một chút tại giữa */
    }

    100% {
        transform: scale(1);
    }
}

/* Quay vòng tròn */
@keyframes slideItem17_2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(20px) rotate(0deg);
        /* Ban đầu */
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(20px) rotate(360deg);
        /* Cuối cùng quay vòng tròn */
    }
}

/* end item 17 */
/*item 20 */
.slider-item20 {
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 800px;
    overflow: hidden;
    background: transparent;
    font-size: 100%;
}

.scene, .shape, .face, .face-wrapper, .cr {
    position: absolute;
    transform-style: preserve-3d;
}

.scene {
    width: 80em;
    height: 80em;
    top: 40%;
    left: 50%;
    margin: -40em 0 0 -40em;
    animation: slideItem20 5s infinite;
}

.shape {
    top: 50%;
    left: 50%;
    width: 100%;  /* Hoặc giá trị phù hợp với kích thước bạn muốn */
    height: 100%; /* Hoặc giá trị phù hợp với kích thước bạn muốn */
    transform-origin: 50%;
    background-image: url(../images/slider_img_20.png);
    background-position: center center; /* Căn giữa ảnh */
    background-size: cover; /* Hoặc 'contain' nếu bạn muốn đảm bảo toàn bộ ảnh hiển thị */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    position: relative; /* Cần thêm để cho lớp phủ có thể được đặt vào đúng vị trí */
}
.shape::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Lớp phủ màu đen với độ trong suốt */
    z-index: 1; /* Đặt lớp phủ phía trên ảnh */
    transform: translateY(-50%);
}

.face, .face-wrapper {
    overflow: hidden;
    transform-origin: 0 0;
    backface-visibility: hidden;
}

.face {
    background-color: #28d0c8;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: inset -2px -2px 2px 3px #60c7e0;
}

.face-wrapper .face {
    left: 100%;
    width: 100%;
    height: 100%;
}

.photon-shader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.side {
    left: 50%;
}

.cr, .cr .side {
    height: 100%;
}

.cuboid-1.face-top, .cuboid-1 .back {
    width: 100%;
    height: 100%;
}

.cuboid-1 .back {
    left: 100%;
}

.cuboid-1 .right-top {
    transform: rotateY(-90deg) translateX(-50%);
}

.cuboid-1 .left-top {
    transform: rotateY(90deg) translateX(-50%);
}

.cuboid-1 .top-padding {
    transform: rotateX(90deg) translateY(-50%);
}

.cuboid-1 .back-magin {
    transform: rotateX(-90deg) translateY(-50%);
}

.cuboid-1 .left-top {
    left: 100%;
}

.cuboid-1 .back-magin {
    top: 100%;
}

.cub-1 {
    transform: translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(360deg) rotateZ(0deg);
    opacity: 1;
    width: 25em;
    height: 10em;
    margin: -2.5em 0 0 -9.59em;
    background-color: #a8f8f4;
}

.cub-1 .face-top {
    transform: translateZ(2.5em);
}

.cub-1 .back {
    transform: translateZ(-2.5em) rotateY(180deg);
}

.cub-1 .right-top, .cub-1 .left-top {
    width: 10em;
    height: 10em;
}

.cub-1 .top-padding, .cub-1 .back-magin {
    width: 25em;
    height: 10em;
}

.cub-1 .face {
    background-color: #FFFFFF;
}

.cub-1 .face-top {
    background-color: rgba(255, 255, 255, 0.3);
}

.cub-1 .back {
    background-color: rgba(187, 150, 255, 0.3);
}

.cub-1 .top-padding {
    background-color: rgba(187, 150, 255, 0.3);
}

.cub-1 .back-magin {
    background-color: rgba(255, 255, 255, 0.3);
}

.cub-1 .left-top {
    background-color: rgba(255, 255, 255, 0.3);
}

.cub-1 .right-top {
    background-color: rgba(255, 255, 255, 0.3);
}
.cub-1 .right-top::before{
    content: attr(data-text);
    font-size: 3em;
    text-align: center;
    color: rgba(14, 10, 250, 0.3);
    position: absolute;
    font-family: "Neonderthaw", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;

}
.cub-1 .face-top::before, .cub-1 .back::before,  .cub-1 .left-top::before, .cub-1 .top-padding::before, .cub-1 .back-magin::before {
    content: attr(data-text);
    font-size: 1.2em;
    text-align: center;
    color: rgba(14, 10, 250, 0.3);
    position: absolute;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Căn giữa theo cả hai chiều */
    width: 100%;
    height: 100%;
}

@keyframes slideItem20 {
    0%, 15% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: rotateX(0deg) rotateY(-300deg) rotateZ(0deg);
    }
    30% {
        transform: rotateX(0deg) rotateY(-270deg) rotateZ(0deg);
    }
    45% {
        transform: rotateX(0deg) rotateY(-270deg) rotateZ(0deg);
    }
    60% {
        transform: rotateX(300deg) rotateY(-200deg) rotateZ(0deg);
    }
    65% {
        transform: rotateX(270deg) rotateY(-180deg) rotateZ(0deg);
    }
    90% {
        transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }
}
/* end item 20 */
/* item 18 */
/* Slider item */
.slider-item18 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    width: 700px;
    height: 300px;
    border: 20px solid #ffffff;
    /* Hoặc sử dụng border-image cho hiệu ứng gradient */
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
    z-index: 10;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    /* Tạo nền mờ cho phần tử */
    color: #fff;
    text-align: center;
    animation: slideItem18 .8s 1.8s ease-in-out forwards, slideItem18_1 .8s 3s ease-in-out forwards;
}

/* Styling for heading and paragraph */
.slider-item18 h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    opacity: 0;
    animation: fadeInText 3s 2s ease-in-out forwards;
}

.slider-item18 p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 0;
    padding: 0 20px;
    text-align: justify;
    opacity: 0;
    animation: fadeInText2 3s 2s ease-in-out forwards;
}

/* Animation slide item */
@keyframes slideItem18 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.1);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes slideItem18_1 {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 1;
        width: 600px;
        height: 300px;
        transform: translate(-80%, -50%);
    }
}

/* Chữ xuất hiện đẹp mắt */
@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        font-size: 30px;
        transform: translateY(0);
    }
}

@keyframes fadeInText2 {
    0% {
        opacity: 0;
        font-size: 12px;
        transform: translateY(80px);
    }

    50% {
        opacity: 0;
        font-size: 12px;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        font-size: 12px;
        transform: translateY(0);
    }
}


/* end item 18 */

/* item 19 */
.slider-item19 {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    z-index: 19;
    animation: slideItem19 1.5s 4s ease-in-out forwards;
}

/* Image styling */
.slide-img-19 {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

/************************************** About Us ******************************************/
.dark-bg{
    padding-bottom: 150px;
    background-color: #212121;
}
.content-2-text{
    border-left: 10px solid #77b6f1;
    padding-left: 16px !important;
    margin-bottom: 0px !important;
    max-width: 800px;
}
.content-2-text h5, .content-2-text h2{
    color: #fff!important;
}
.content-2-text h5 {
    font-family: 'Playfair Display', serif;
}
.content-2-text  h2 {
    font-size: 40px;
    font-weight: 700;
    /* text-transform: uppercase; */
}
.content-2-title{
    margin: 80px;
}
.content-2-title p{
    letter-spacing: normal;
    line-height: 24px;
    color: #f5f5f5;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.content-2-title hr.left-line {
    margin: 20px 0 20px 0;
    width: 100px;
}
.content-2-title .white-bg {
    background-color: #fff !important;
}
.content-2-title hr {
    border: 0;
    height: 1px;
    width: 100%;
    margin: 20px auto;
}
.content-2 .content-2-big {
    margin: 50px;
    background-image: url(../images/aboutme.jpg);
    height: 500px;
    width: 100%;
}
/**************************************End About Us ******************************************/






/* Keyframes for the animation */
@keyframes slideItem19 {
    0% {
        opacity: 0;
        transform: translateY(180px);
    }

    100% {
        opacity: 1;
        /* transform: translate(-50%, -50%) translateY(180px); */
        transform: translate(0%, -90%) translateY(180px);
    }
}

@media screen and (max-width : 767px) {
    .navbar-collapse {
        max-height: 300px;
        overflow-y: scroll;
        border-top: 1px solid #2d2e34;
        margin-top: 15px;
    }

    #header .nav-link {
        font-size: 28px;
        border-bottom: 1px solid #2d2e34;
    }

    .navbar-light .navbar-toggler {
        box-shadow: none !important;
        background: #fff;
        border: none;
        border-radius: 0;
    }

    .drop_1 {
        margin-top: 0 !important;
    }

    .sticky .drop_1 {
        margin-top: 0 !important;
    }

    .drop_1 a {
        font-size: 24px;
    }

    #header .navbar-brand {
        display: block;
    }

    .sticky .navbar-brand {
        margin-right: 0 !important;
    }
}
@media (min-width:350px) and (max-width:576px) {
    .navbar {
        background-color: #191a1d;
        z-index: 99;
    }
    .navbar-light .navbar-toggler {
        margin-left: 50%;
    } 
}
@media (min-width:576px) and (max-width:767px) {
    .navbar {
        background-color: #191a1d;
        z-index: 99;
    }
    .navbar-light .navbar-toggler {
        margin-left: 50%;
    } 
}

@media (min-width:768px) and (max-width:991px) {
    .navbar-expand-md {
        flex-wrap: wrap !important;
    }

    .sticky .navbar-brand {
        margin-right: 20px !important;
    }

    .sticky .nav-link {
        padding: 10px 10px !important;
    }
}

@media (min-width:871px) and (max-width:991px) {
    .sticky .navbar-brand {
        margin-right: 40px !important;
    }

}

@media (min-width:992px) and (max-width:1200px) {
    .navbar-expand-md {
        flex-wrap: wrap !important;
    }

    .sticky .navbar-brand {
        margin-right: 60px !important;
    }
}

@media (min-width:1201px) and (max-width:1255px) {}

@media (max-width: 350px) {
    .navbar-light .navbar-toggler {
        margin-left: 15%;
    } 
    .slider-item1-shape {
        height: 300px;
    }

    .slider-item3 {
        top: 54px;
        left: -86px;
        width: 265px;
        height: 30px;
    }

    .slider-item4 {}

    .slider-item5 {}

    .slider-item6 {}

    .slider-item7 {}

    .slider-item8 {}

    .slider-item9 {}

    .slider-item10 {}

    .slider-item11 {
        width: 1500px;
        height: 300px;
    }

    .slider-item12 {}

    .slider-item13 {}

    .slider-item14 {}

    .slider-item15 {}

    .slider-item16 {}

    .slider-item17 {}

    .slider-item18 {}
}